* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  font-family: Public Sans;
}
body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phoneHeader {
  display: none;
}
.phoneFilter {
  display: none;
}
.blackBar {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: black;
  color: aliceblue;
}
.shoppigCart {
  padding-left: 20vw;
}
.product .productMenu {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 5vw;
  padding-top: 2vh;
  background-color: whitesmoke;
  color: grey;
}
.productsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  column-gap: 5vw;
  background: rgba( 248, 248, 248, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.addToCart {
  background-color: black;
  border-bottom-right-radius: 1rem;
  color: orange;
  border-style: none;
}
.miProducts {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  justify-content: center;
  width: 15vw;
  height: 20vh;
  background-color: gray;
  height: fit-content;
  margin-top: 3vh;
  border-radius: 1rem;
}
.productImages {
  border-radius: 0.5rem;
}
.miProducts:hover {
  scale: 1.2;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.footerList {
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  gap: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 30vh;
  background-color: grey;
  color: aliceblue;
}
.socialMedia {
  display: none;
}
.deskTopLogos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2vw;
}
.desktopContent {
  display: block;
}
@media only screen and (max-width: 550px) {
  body {
    background-color: whitesmoke;
  }
  .blackBar {
    display: none;
  }
  .phoneHeader {
    display: flex;
    gap: 20vw;
    justify-content: flex-start;
    padding-left: 5vw;
    align-items: center;
    background-color: whitesmoke;
    font-size: 1.5rem;
  }
  .phoneFilter {
    margin-top: 2vh;
    justify-content: center;
    display: flex;
    font-size: larger;
    align-items: center;
    height: 5vh;

    background: rgba(245, 166, 35, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .product {
    display: none;
  }
  .productsGrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    column-gap: 1vw;
  }
  .miProducts {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-repeat: no-repeat;
    justify-content: center;
    width: 45vw;
    background-color: gray;
    height: fit-content;
    margin-top: 1vh;
  }
  .footerList {
    display: block;
    justify-content: center;
    text-align: center;
    height: 35vh;
    background-color: orange;
    color: aliceblue;
  }
  .footerList li {
    padding-top: 4vh;
    text-align: center;
  }
  .socialMedia {
    display: block;
  }
  .logos {
    display: flex;
    justify-content: center;
  }
  .socialMediaLogos {
    scale: 0.8;
  }
  .deskTopLogos {
    display: none;
  }
  .desktopContact {
    display: none;
  }
}
